= content_for :cta_button do
  = link_to 'Take me there', '#', class: 'mcnButton', style: "font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #D55258;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;display: block;", target: '_blank', title: 'Take me there'

= content_for :title do
  Your organization's trial is soon to expire

Hey There,
%br
%br
Please reach out to our accounts team at accounts@golaunchboard.com, or select a payment plan below to continue using Launchboard:

