= content_for :cta_button do
  %a.mcnButton{:href => "https://golaunchboard.com/", :style => "font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #D55258;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;display: block;", :target => "_blank", :title => "Login now"} Login now

Thank-you for signing up with LaunchBoard. As a Manager you are now able to login, and can start inviting members of your organization to participate. You are now able to tap into valuable information across your organization, and start shedding light to ideas, concerns, and questions that will create real positive impact.
%br/
%br/
With our secure, and easy to use platform, ideas can move quickly.
%br/
%br/
\- Employees create an Idea with one push of a button
%br/
\- You review all ideas as a Manager under Pending Ideas
%br/
\- Ideas you approve go out to the department for votes
%br/
\- Launch a majority favored Idea by giving it an arrival date
%br/
%br/
Best of all... monitor all employee contributions, department engagement, and trending topics via our powerful analytics dashboard. Nice! 

