= content_for :cta_button do
  %table.mcnButtonBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
    %tbody.mcnButtonBlockOuter
      %tr
        %td.mcnButtonBlockInner{:align => "center", :style => "padding-top: 0;padding-right: 18px;padding-bottom: 18px;padding-left: 18px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
          %table.mcnButtonContentContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: separate !important;border: 2px solid #F2F2F2;border-radius: 4px;background-color: #FFFFFF;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"}
            %tbody
              %tr
                %td.mcnButtonContent{:align => "center", :style => "font-family: Arial;font-size: 16px;padding: 20px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "middle"}
                  %a.mcnButton{:href => register_beta_sign_up_url(id: @bsu.signup_code), :style => "font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #D55258;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;display: block;", :target => "_blank", :title => "Register now"} Register now

= content_for :title do
  Welcome!

Welcome to the beta sign up for Launchboard. Click on the following link to register! Your 14-day trial will be enabled the moment you register.
