= content_for :cta_button do
  %a.mcnButton{:href => beta_sign_ups_url, :style => "font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #D55258;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;display: block;", :target => "_blank", :title => "Approve now"} Approve now

#{@name} wishes to be added to beta mailing list with email: #{@email}
