%html
  - if Rails.env.production?
    - host = 'golaunchboard.com'
  - else
    - host = @url

  - @full = "http://" + host + "/dashboard"

  %h5 New Department Assignemnt
  %p You have been assigned to a new department #{@department.name} under #{@organization.name}.

  %h5
    %a{href: @full} See Dashboard
