%html
  - if Rails.env.production?
    - host = 'golaunchboard.com'
  - else
    - host = @url
  - @full = "http://" + host + new_user_path(:name=> @organization.name, :token=> @organization.access_token)

  %h5 Invite users to #{@organization.name}
  %p Please forward this invitation to all desired recipients, the invitation token expires in 24 hours.

  %h5
    %a{href: @full} Register Here
