@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-archive18:before {
	content: "\e000";
}
.flaticon-business155:before {
	content: "\e001";
}
.flaticon-comments8:before {
	content: "\e002";
}
.flaticon-delete48:before {
	content: "\e003";
}
.flaticon-edit45:before {
	content: "\e004";
}
.flaticon-favourites7:before {
	content: "\e005";
}
.flaticon-house28:before {
	content: "\e006";
}
.flaticon-login17:before {
	content: "\e007";
}
.flaticon-login18:before {
	content: "\e008";
}
.flaticon-thumb31:before {
	content: "\e009";
}
.flaticon-thumbs17:before {
	content: "\e00a";
}
