- if @page_num == 2
  / show title if only first page on infinite scroll
.row
  %ul.view-controls.col-xs-12
    .nav.nav-pills
      = render 'pages/department_nav'
.row
  - if @posts.empty?
    %h3.text-center There are no posts matching this criterion.

  - if @sort != "discussed" && @sort != "upvoted"
    = render 'pages/new_post_partial'

  - @posts.each do |post|
    = sync partial: "card", resource: post
  .last-elm{style:"height:1px;width:1px;"}

/ -if @sort == "discussed" || @sort == "upvoted"
/   = render 'pages/new_post_partial'
