- if @page_num == 2
  / show title if only first page on infinite scroll
-#.row.hidden-xs
-#  %ul.view-controls.col-xs-12
-#    .nav.nav-pills
-#      = render 'pages/department_nav'
-#.row
-#  .col-xs-12
-#    = will_paginate @posts, class: 'digg_pagination'
-#  %br

.row
  - if @posts.empty?
    = image_tag "huh-icon.png"
    %h3.text-center Huh, looks like there's nothing here.

  - if @sort != "discussed" && @sort != "upvoted"
    = render 'pages/new_post_partial'

  - @posts.each do |post|
    = sync partial: "card", resource: post
  .last-elm{style:"height:1px;width:1px;"}

.row
  .col-xs-10.col-xs-offset-1
    = will_paginate @posts, class: 'digg_pagination'

/ -if @sort == "discussed" || @sort == "upvoted"
/   = render 'pages/new_post_partial'
