/ contacts-2
%section.contacts-2
  .container
    .row
      .col-sm-8
        %h3
          We love what we do.
          %br/
          This is features of our products
    .row
      .col-sm-6
        %form
          %label.h6 Name / Last Name
          %input.form-control{:type => "text"}/
          %label.h6 E-mail
          %input.form-control{:type => "text"}/
          %label.h6 Message
          %textarea.form-control{:rows => "7"}
          %button.btn.btn-primary{:type => "submit"}
            %span.fui-mail
      .col-sm-5.col-sm-offset-1
        %h6 Where to find us
        %p As a Harvard professor, he was one of the first to explore the relationship in equilibrium.
        .map
          / map
          %iframe{:frameborder => "0", :height => "100%", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/?ie=UTF8&t=m&ll=43.451583,-80.49841&spn=0.04554,0.072956&z=12&output=embed", :width => "100%"}
        %h6 Get in touch
        %p As a Harvard professor, he was one of the first to explore the relationship in equilibrium.
        .links
          %a{:href => "#"}
            %span.fui-phone
            +1 347 523 34 90
          %br/
          %a{:href => "#"}
            %span.fui-mail
            mr.madbyte@gmail.com
