= sync_new partial: 'notification', resource: PublicActivity::Activity.new, scope:current_user
- @notifications = current_user.notifications.order(created_at: :desc)
- @notifications[0,10].each do |n|
  - activity = n.activity
  = sync partial: 'notification', resource: activity
