%br
%h4.text-center
  The organization
  %b= @organization.name
  's subscription has expired.

%h5.text-center
  Please contact your manager to
  %b #{ link_to "purchase a new subscription", price_path }
  in order to continue to use your account
