%section.price-5
  .container
    .plans
      .plan
        .title
          .price
            %small $
            0
          FREE PLAN
        %div
          .description
            .description-box
              %big 10,000 users
              Without iconic symbolsreally finish your work - for clearly understand.
            .description-box
              %big 10 photos per month
              Without iconic symbolsreally finish your work - for clearly understand.
          .description-more
            %span.fui-cmd
            %big 10,000 users
            %p.info Without iconic symbolsreally finish your work - for clearly understand.
            %a.btn.btn-primary{:href => "#"} Change to this Plan
      .plan.plan-2
        .title
          .price
            %small $
            29
          DEVELOPER PLAN
        %div
          .description
            .description-box
              %big Unlimited users
              Without iconic symbolsreally finish your work - for clearly understand.
            .description-box
              %big 10 photos per month
              Without iconic symbolsreally finish your work - for clearly understand.
          .description-more
            %span.fui-cmd
            %big Unlimited users
            %p.info Without iconic symbolsreally finish your work - for clearly understand.
            %a.btn.btn-primary{:href => "#"} Change to this Plan
      .plan
        .title
          .price
            %small $
            50
          EXTENDED PLAN
        %div
          .description
            .description-box
              %big 50,000 users
              Without iconic symbolsreally finish your work - for clearly understand.
            .description-box
              %big 50 photos per month
              Without iconic symbolsreally finish your work - for clearly understand.
          .description-more
            %span.fui-cmd
            %big 50,000 users
            %p.info Without iconic symbolsreally finish your work - for clearly understand.
            %a.btn.btn-primary{:href => "#"} Change to this Plan
    / .terms
    /   Be sure to take a look at our
    /   %br/
    /   %a{:href => "#"} Terms of Use
    /   and
    /   %a{:href => "#"}
    /     Privacy
    /     Policy
