.post-board
  - if @posts.empty?
    %h3.text-center Sorry, looks like there's nothing here.
  - @posts.each do |post|
    = sync partial:"card", resource: post

= content_for :popups do
  = render 'post_discussion'
