@import 'presets';

*, html, body, h1, h2, h3, h4, h5, h6, p, input, li, a {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.03rem;
  word-spacing: 0.02rem;
}
.nav > li {
  display: inline-block;
}
.yellow { background-color:$yellow; }
.orange { background-color:$orange; }
.red { background-color: $red; }
.blue { background-color: $blue; }

label {
  font-weight: 600;
  font-size: 15px;
  text-shadow:$t-shadow;
}

.form-control {
  box-shadow:inset $demon;
  border:1px solid $li-grey;
  height:36px;
  /* font-size: 16px; */
  font-weight: 500;

  @include transition(0.5s);

  &:focus {
    border:1px solid $green;
    outline: 0;
    box-shadow:inset $shadow;
    /* @include placeholder-active; */
  }

  /* @include placeholder; */
}

.notification-card{
  color: rgb(124, 139, 155);
}
.notification-link:visited{
  color: transparent
}
.new-post-number{
  position:relative;
  margin-top:2px;
  float:right;
  height:30px;
  width:30px !important;
  background:#CC181E;
  z-index:5;
  text-align: center;
  font-size: 20px;
  display: none;
  line-height: 28px;
  .number{
    font-size: inherit;
    line-height: inherit;
    margin-left: -5px;
  }
}
.dropdown-menu.notification{
  width:  320px;
}
.new-comment-number{
  position: absolute;
  margin-top: -37px;
  margin-left: 62px;
  height: 20px;
  width: 20px !important;
  background: #CC181E;
  z-index: 5;
  text-align: center;
  display: none;
  font-size: 13px;
  line-height: 22px;
}
.filter-sort-comments{
  /* height: 50px; */
}
.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
  }
}
.modal-dialog {
  padding-top: 5%;
  .modal-content {
    .modal-body {
      padding-top:0;
    }
  }
}

textarea {
  @include border_radius_exl(4px);
  color:$grey;
  box-shadow: $shadow;
  border:1px solid $li-grey;

  @include transition(0.5s);

  &:focus {
    border:1px solid $ghost;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    @include placeholder-active;
  }

  @include placeholder;
}
.btn-default {
  background: $grey-grad;
  background: #e9eef1;
  text-shadow: $t-shadow;
  color:$grey !important;
  padding:6px 12px;
  border:1px solid $ghoul;

  @include transition(0.5s);

  @include border_radius(5px);
  &:hover {
    box-shadow: none;
    background:$grey-grad-flip;
    background:#f8fafb;
    border:1px solid $demon;
  }
}
.btn-primary {
  background:linear-gradient(#3498db, #258cd1);
  border:1px solid #ccc !important;
  border:none;
  color: #fff;
}

html, body {
  height: 100%;
  /* width: 100%; */
  /* min-width: 480px; */
  /* background-color: $white; */
  color: $grey;
  /* overflow-x: hidden; */
}
html {
  background:$green-grad;
}
body {
  background:$green-grad-flip;
}
.body-wrapper {
  background: $green-grad;
  background-size: cover;
  min-height: 100%;
}
.admin-dashboard {
  padding: 10px 20px;
  height: 100%;
  overflow-y: scroll;
}

.flash-msg{
  .alert{
   z-index: 100;
  }
}
.alert{
  position: fixed;
  width: 100%;
  z-index: 1050;
  @include border_radius(0);
  color: $white;
  border:none;
  font-weight: 600;
  &.alert-info {
    background:$blue;
  }
  &.alert-danger {
    background: $red;
  }
  &.alert-warning {
    background:$orange;
  }
  &.alert-success {
    background:$l-green;
  }
}
.no-padding {
  padding: 0px;
}

.navbar{
  background: $green;
  border: none;
  @include border_radius(0);
  color:$white;
  box-shadow: $shadow-2;

  .navbar-brand {
    display: inline-block;
    font-size: 22px;
    padding: 10px;

    img {
      /* margin: 5px; */
      height: 30px;
    }
  }

  .nav {
    margin: 0px;
  }

  .navbar-nav {
    .dropdown {
      margin-left: 15px;
    }
  }

  .navicon {

    a {
      display: inline-block !important;

      text-align: center;
      /* position: relative; */
      z-index: 20;
      padding-top:14px;

      img {
        height:27px;
      }
      .bulb {
        height: 31px;
      }

      .notification_counter {
        position: absolute;
        top: 4px;
        right: 2px;
        font-size: 10px;
        padding:0 7px;
        /* line-height: 25px; */
        /* width: 15%; */
        /* height: 20px; */
        /* background: $nav_hover; */
        color: $white;
        @include border_radius(35%);
        &.red {
          right:-10px;
        }
      }

      span:before {
        display: block;
        font-size: 40px;
        line-height: 50px;
        margin: 0px;
      }
    }
  }
  .popover {
    box-shadow: $shadow;
    border: none;
    .arrow {
      border: none;
      margin-left: 0;
    }
  }

  .profile {
    font-size: 14px;
    font-weight: 600;
    color: $white;

    span {
      padding: 10px 0 10px 5px;
      line-height: 30px;

    }
    .profile-img {
      width: 30px;
      height: 30px;

      @include border_radius(50%);
    }
  }
  @media screen and (max-width: 416px) {
    .navicon {
      a {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
    .dropdown {
      margin-left: 3px $imp;
    }
    .post-wrapper {
      height: 40rem;
    }
  }
  @media screen and (max-width:801px) {
    .logo {
      &.xs {
        display:none;
      }
    }
    .profile {
      span {
        display:none;
      }
    }
  }
  @media screen and (min-width:801px) {
    .logo {
      &.sm {
        display: none;
      }
    }
  }

  li a {
    color:$white !important;
    /* padding-top:11px;
    padding-bottom:11px; */
    padding:10px;

    &:hover, &:focus, &:active {
      color: $white !important;
      background-color: $green !important;
    }
  }

  li form {
    padding: 8px 5px 0px 20px;

    input {
      @include border_radius_exl(7px);
      background-color:rgba(255,255,255,0.4);
      background:rgba(255,255,255,0.4) image-url("search-icon.png") 1rem center no-repeat;
      background-size:13px;
      color:$white !important;
      box-shadow: none;
      border:1px solid $trans;
      height:36px;
      text-indent: 1.5rem;
      font-size: 14px;
      font-weight: 500;

      @include transition(0.5s);

      &:focus {
        border:1px solid $ghost;
        outline: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
        @include placeholder-active;
      }

      @include placeholder;
    }
  }

  li h3 {
    line-height: 31px;
    color: $default_text_main;
  }

  li.divider-vertical {
    margin-top: 20px;
  }

  a, a:visited, li a, li a:visited {
    color: $white;
    text-align: center;

    span:before {
      font-size: 24px;
      margin: 0px;
      border-top-color: $default_text_main;
      border-bottom-color: $default_text_main;
    }
  }

  #navbar-right, .nav-right, .nav-left {
    display: inline-block;

    button {
      margin-top: -5px;
    }
  }

  .dropdown {

    &.open {
      background: transparent !important;
    }

    #filter-post-all{
      color: $green !important;
    }
    #filter-post-all::before{
      /* content:"•"; */
      /* margin-left:-5px; */
      /* margin-right: 5px; */
    }
    #filter-post-project, #filter-post-work{
      background-color: rgba($main_project, 0.75) !important;
    }
    #filter-post-fun, #filter-post-play{
      background-color: rgba($main_fun, 0.75) !important;
    }
    #filter-post-facility{
      background-color: rgba($main_facility, 0.75) !important;

    }
    #filter-post-pending{
      background-color: rgba($main_facility, 0.75) !important;
    }
    #filter-post-doit{
      background-color: rgba($main_highlight, 0.75) !important;
    }

    a.dropdown-toggle{
      .drop-icon {
        height:9px;
      }
      .option {
        padding: 0px 15px;
        color: $inverse_text_main;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        /* background-color: rgba($inverse_text_off, 0.75); */
        background: $trans;

        .caret {
          border-top-color: $inverse_text_main;
          border-bottom-color: $inverse_text_main;
        }
      }
    }

    li a, li a:visited {
      background-color: $default_background;
      color: $default_text_main !important;
    }

    .dropdown-menu {
      padding: 0px;
      border: none;
      margin-left: -85px;
      margin-top:5px;

      @include border_radius(6px);

      &.filter-menu {
        margin-left: -55px;

        li {
          border-bottom: 1px dashed $l-grey;

          &:last-child, &:first-child {
            border-bottom: none;
          }
        }
      }

      li {
        border-bottom: 1px dashed $l-grey;

        &:last-child {
          border-bottom: none;
        }
        a {
          text-align: left;
          padding:10px 15px 10px 20px;
          font-size: 14px;
          /* font-weight: 600; */
          background-color: $trans;
          color: $grey;
          text-shadow: $t-shadow;

          @include transition(0.5s);

          &:active {
            /* background: $trans !important; */
            /* color: $green !important; */
          }
          &:hover {
            background: $trans !important;
            color:$green !important;
          }
        }
      }
    }
  }

  @media all and (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
      position: absolute;
      background-color: $white;
      box-shadow: $shadow;
    }
  }

  .filter-sort {
    .dropdown {
      .dropdown-toggle {
        padding:10px 0;
        margin-left: -15px;
      }
    }
  }
}

@media screen and (max-width:514px) {
  .filter-sort {
    .dropdown {
      .dropdown-toggle {
        padding-top:15px $imp;
      }
    }
  }
}


.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background-color: $trans $imp;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color: $trans $imp;
}

@media (max-width: 767px) {
.navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}

.container {
  /* width: 100%; */
}

.btn {
  color: #fff;
}

a:hover {
  background-color: transparent !important;
}

.inline {
  display: inline-block;
}

.img-responsive {
  margin: auto;
}
.badge {
  background:$green;
  padding:5px 10px;
  @include border_radius(10px);
}

/** Departments **/

.departments {
  padding:10px;

  .badge {
    margin:3px;

    font-weight: 600;
    text-shadow: $btn-shadow;
    input {
      margin-right: 2px;
    }

    .members {
      display: inline;
      margin-left: 5px;
    }
  }
}

.body-wrapper, .sidebar {
  flex: 1;
  /* box-shadow: 0 0 5px black; */
  /* transform: translate3d(70px, 0, 0); */
  transition: transform .3s;
}

.body-wrapper {
  /* overflow: hidden; */
  /* width: 100%; */
}

.body-wrapper.isOpen { transform: translate3d(351px, 0, 0); }
.sidebar.isOpen { transform: translate3d(350px, 0, 0); }

/** ------------------- **/

.pinned-toggler {
  margin-top: 15px;
}

// .bootstrap-switch{
//   width: 80px;
//   height: 40px;
//   border-radius: 0px;

//   .bootstrap-switch-container {
//     height: 40px;

//     .bootstrap-switch-handle-on,
//     .bootstrap-switch-label,
//     .bootstrap-switch-handle-off {
//       height: 40px;
//       width: 40px;
//       padding: 10px;
//       border-radius: 0px;
//     }

//     .bootstrap-switch-handle-on {
//       color: #ffffff;
//       background-color: #da6d0d;
//     }

//     .bootstrap-switch-handle-off {
//       color: #ffffff;
//       background-color: #006dcc;
//     }
//   }
// }

.content-wrapper {
  /* margin-top: 90px;
  height: calc(100% - 70px);
  overflow-y: scroll; */
}


/** button styles **/

.post, .comment {

  .btn-off {
    background-color: transparent;
    img {
      max-height: 25px;
    }

    &:hover.btn-project {


    }

    &:hover.btn-fun {
      background-color: $main_fun;
      color: $default_background !important;
      border: 1px solid $default_background;
    }

    &:hover.btn-facility {
      background-color: $main_facility;
      color: $default_background !important;
      border: 1px solid $default_background;
    }
  }

  .btn-on {
    /* border: 1px solid $default_background; */
  }

  .signature .btn-off {
    background-color: transparent;

  }

  .controls .btn-off {
    color: $inverse_text_off !important;
    border: 1px solid $inverse_text_off;
  }
}

// .comment {
//   .btn-off {
//     background-color: transparent;
//     color: $inverse_text_off !important;
//     border: 1px solid $inverse_text_off;
//     opacity: 0.6;

//     &:hover {
//       background-color: $inverse_text_off;
//       color: $inverse_text_main !important;
//       border: 1px solid $inverse_text_main;
//       opacity: 0.75;
//     }
//   }

//   .btn-on {
//     background-color: $inverse_text_off;
//     color: $inverse_text_main !important;
//     border: 1px solid $inverse_text_main;
//     opacity: 0.75;
//   }

//   .btn-default {
//     background-color: $inverse_text_off;
//     color: $inverse_text_main !important;
//     border: 1px solid $inverse_text_main;

//     &:hover {
//       opacity: 0.75;
//     }
//   }
// }

.btn-project, .btn-fun, .btn-facility, .btn-approval-true, .btn-approval-false {
  background-color: $white;
  color: $white;
  font-weight: 600;

  img { height:32px; }

  .count { margin-left:-25px;}
  &:hover {
    opacity: 0.75;
  }
  &:focus, &:active {
    box-shadow: none;
  }
}

.btn-project {
  background-color: $main_project;
}

.btn-fun {
  background-color: $main_fun;
}

.btn-facility {
  background-color: $main_facility;
}

/** popup forms **/

#comment_anonymous, #comment_suggestion, #user_manager {
  display: inline-block;
}

.modal-body.row {
  padding-bottom: 0px;
}


.modal-dialog {
  .modal-content {
    border:none;
    @include border_radius(15px);
    box-shadow: $shadow-2;
    .modal-header {
      background-color: $green;
      color: $white;
      border-bottom: none;
      text-shadow: $btn-shadow;
      @include border_radius_top(10px);
    }
    p {
      font-size: 12px;
    }
    .btn.btn-main {
      /* background-color: $nav_background; */
    }
  }
}

#post-discussion .modal-dialog {

  .modal-content {

    .modal-body {
      padding:0;
      .area {
        width:100%;
        &.post {
          padding-top:10px;
          /* background: $l-grey; */
          .col-sm {
            padding:5px 10px;
          }
        }
        &.comments {
          .filter-sort-comments {
            width: 100%;
            .comments-infinite-scroll {
              padding:0;
            }
            .temp {
              background:$ghoul;
              padding:20px 10px;
              text-align: center;
              width: 100%;
              border-top:1px solid $demon;
              border-bottom:1px solid $demon;
              .empty-comment {
                width:50px;
                margin: 10px auto;
                opacity: 0.5;
              }
              p {
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    .modal-footer {
      bottom:0px;
      padding-bottom: 10px;

    }
  }
}

#post-discussion {
  .actions { margin-top: 10px; }
  .modal-footer {
    padding: 0px;
    margin-top: 0px;
    border: none;
  }
}

#post-discussion, #carousel-discussion {
  .item { max-height: 150px; }
}

#comment_plain {
  margin-right: 10px;
}

.popover {
  color: $default_text_main;
  font-weight: normal;
  font-size: 14px;
  &.bottom {
    .arrow {
      /* margin-left: 0; */
    }
  }
}

form .field {
  margin-top: 15px;
}

.department_form {
  margin-bottom: 10px;

}

.truncate {
  width: 280px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-header .close {
  opacity: 1;
  color: $inverse_text_main;
}
