@import 'presets';

*, html, body, h1, h2, h3, h4, h5, h6, p, input, li, a {
  font-family: 'Open Sans', sans-serif;
}
.nav > li {
  display: inline-block;
}
.yellow { background-color:$yellow; }
.orange { background-color:$orange; }
.red { background-color: $red; }
.blue { background-color: $blue; }

.notification-card{
  color: rgb(124, 139, 155);
}
.notification-link:visited{
  color: transparent
}
.new-post-number{
  position:relative;
  margin-top:2px;
  float:right;
  height:30px;
  width:30px !important;
  background:#CC181E;
  z-index:5;
  text-align: center;
  font-size: 20px;
  display: none;
  line-height: 28px;
  .number{
    font-size: inherit;
    line-height: inherit;
    margin-left: -5px;
  }
}
.dropdown-menu.notification{
  width:  320px;
}
.new-comment-number{
  position: absolute;
  margin-top: -37px;
  margin-left: 62px;
  height: 20px;
  width: 20px !important;
  background: #CC181E;
  z-index: 5;
  text-align: center;
  display: none;
  font-size: 13px;
  line-height: 22px;
}
.filter-sort-comments{
  height: 50px;
}
.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
  }
}

html, body {
  height: 100%;
  width: 100%;
  min-width: 480px;
  /* background-color: $white; */
  background:$green-grad-flip;
  /* overflow-x: hidden; */
}
.body-wrapper {
  background: $green-grad;
  background-size: cover;
  min-height: 100%;
}
.admin-dashboard {
  padding: 10px 20px;
  height: 100%;
  overflow-y: scroll;
}

.flash-msg{
  .alert{
   z-index: 100;
  }
}
.alert{
  position: fixed;
  top: 15px;
  width: 100%;
}
.no-padding {
  padding: 0px;
}

.navbar{
  background: $green;
  border: none;
  @include border_radius(0);
  color:$white;
  box-shadow: $shadow-2;

  .navbar-brand {
    display: inline-block;
    font-size: 22px;
    padding: 10px;

    img {
      /* margin: 5px; */
      height: 35px;
    }
  }

  .nav {
    margin: 0px;
  }

  .navbar-nav {
    .dropdown {
      margin-left: 15px;
    }
  }

  .navicon {

    a {
      display: inline-block !important;

      text-align: center;
      /* position: relative; */
      z-index: 20;

      img {
        height:30px;
      }
      .bulb {
        height: 34px;
      }

      .notification_counter {
        position: absolute;
        top: 4px;
        right: 2px;
        font-size: 10px;
        padding:0 7px;
        /* line-height: 25px; */
        /* width: 15%; */
        /* height: 20px; */
        /* background: $nav_hover; */
        color: $white;
        @include border_radius(0.8rem);
        &.red {
          right:-10px;
        }
      }

      span:before {
        display: block;
        font-size: 40px;
        line-height: 50px;
        margin: 0px;
      }
    }
  }

  .profile {
    font-size: 16px;
    font-weight: 600;
    color: $white;

    span {
      padding: 10px 0 10px 5px;
      line-height: 30px;

    }
    .profile-img {
      width: 34px;
      height: 34px;

      @include border_radius(50%);
    }
  }
  @media screen and (max-width:416px) {
    .profile {
      span {
        display:none;
      }
    }
  }

  li a {
    color:$white !important;
    /* padding-top:11px;
    padding-bottom:11px; */
    padding:10px;

    &:hover, &:focus, &:active {
      color: $white !important;
      background-color: $green !important;
    }
  }

  li form {
    padding: 10px 5px 10px 20px;

    input {
      @include border_radius_exl(7px);
      background-color:rgba(255,255,255,0.4);
      background:rgba(255,255,255,0.4) image-url("search-icon.png") 1rem center no-repeat;
      background-size:13px;
      color:$white !important;
      box-shadow: none;
      border:1px solid $trans;
      height:36px;
      text-indent: 1.5rem;
      font-size: 16px;
      font-weight: 500;

      @include transition(0.5s);

      &:focus {
        border:1px solid $ghost;
        outline: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
        @include placeholder-active;
      }

      @include placeholder;
    }
  }

  li h3 {
    line-height: 31px;
    color: $default_text_main;
  }

  li.divider-vertical {
    margin-top: 20px;
  }

  a, a:visited, li a, li a:visited {
    color: $white;
    text-align: center;

    span:before {
      font-size: 24px;
      margin: 0px;
      border-top-color: $default_text_main;
      border-bottom-color: $default_text_main;
    }
  }

  #navbar-right, .nav-right, .nav-left {
    display: inline-block;

    button {
      margin-top: -5px;
    }
  }

  .dropdown {

    &.open {
      background: transparent !important;
    }

    #filter-post-all{
      color: $green !important;
    }
    #filter-post-all::before{
      content:"•";
      margin-left:-5px;
      margin-right: 5px;
    }
    #filter-post-project, #filter-post-work{
      background-color: rgba($main_project, 0.75) !important;
    }
    #filter-post-fun, #filter-post-play{
      background-color: rgba($main_fun, 0.75) !important;
    }
    #filter-post-facility{
      background-color: rgba($main_facility, 0.75) !important;

    }
    #filter-post-pending{
      background-color: rgba($main_facility, 0.75) !important;
    }
    #filter-post-doit{
      background-color: rgba($main_highlight, 0.75) !important;
    }

    a.dropdown-toggle{
      .drop-icon {
        height:9px;
      }
      .option {
        padding: 0px 15px;
        color: $inverse_text_main;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        /* background-color: rgba($inverse_text_off, 0.75); */
        background: $trans;

        .caret {
          border-top-color: $inverse_text_main;
          border-bottom-color: $inverse_text_main;
        }
      }
    }

    li a, li a:visited {
      background-color: $default_background;
      color: $default_text_main !important;
    }

    .dropdown-menu {
      padding: 0px;
      border: none;
      margin-left: -45px;

      li a {
        text-align: left;
        /* padding: 10px 15px; */
        font-size: 14px;
        font-weight: 600;
        background-color: $trans;
        color: $grey;

        @include transition(0.5s);

        &:active {
          background: $trans !important;
          color: $green !important;
        }
        &:hover {
          background: $trans !important;
          color:$green !important;
        }
      }
    }
  }

  @media all and (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
      position: absolute;
      background-color: $white;
      box-shadow: $shadow;
    }
  }

  .filter-sort {
    .dropdown {
      .dropdown-toggle {
        padding:10px 0;
        margin-left: -15px;
      }
    }
  }

  // .search {
  //   position: absolute;
  //   width: 350px;
  //   min-width: 40px;
  //   height: 40px;
  //   margin-top: 15px;
  //   margin-left: 200px;
  //   overflow: hidden;
  //   -webkit-transition: width 0.3s;
  //   -moz-transition: width 0.3s;
  //   transition: width 0.3s;
  //   -webkit-backface-visibility: hidden;
  // }

  // .search-input {
  //   top: 0;
  //   right: 0;
  //   border: none;
  //   outline: none;
  //   background: #fff;
  //   width: 100%;
  //   height: 40px;
  //   margin: 0;
  //   z-index: 10;
  //   padding: 20px 65px 20px 20px;
  //   font-family: inherit;
  //   font-size: 16px;
  //   color: #2c3e50;
  // }

  // .search-input::-webkit-input-placeholder {
  //   color: #efb480;
  // }

  // .search-input:-moz-placeholder {
  //   color: #efb480;
  // }

  // .search-input::-moz-placeholder {
  //   color: #efb480;
  // }

  // .search-input:-ms-input-placeholder {
  //   color: #efb480;
  // }

  // .sb-icon-search,
  // .search-submit  {
  //   width: 40px;
  //   height: 40px;
  //   display: block;
  //   position: absolute;
  //   right: 0;
  //   top: 0;
  //   padding: 0;
  //   margin: 0;
  //   line-height: 40px;
  //   text-align: center;
  //   cursor: pointer;
  // }

  // .search-submit {
  //   background: #fff; /* IE needs this */
  //   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
  //     filter: alpha(opacity=0); /* IE 5-7 */
  //     opacity: 0;
  //   color: transparent;
  //   border: none;
  //   outline: none;
  //   z-index: -1;
  // }

  // .sb-icon-search {
  //   color: #fff;
  //   background: #e67e22;
  //   z-index: 90;
  //   font-size: 18px;
  //   speak: none;
  //   font-style: normal;
  //   font-weight: normal;
  //   font-variant: normal;
  //   text-transform: none;
  //   -webkit-font-smoothing: antialiased;
  // }

  // /* Open state */
  // .search.search-open .sb-icon-search,
  // .no-js .search .sb-icon-search {
  //   background: #da6d0d;
  //   color: #fff;
  //   z-index: 11;
  // }

  // .search.search-open .search-submit,
  // .no-js .search .search-submit {
  //   z-index: 90;
  // }
}

@media (max-width: 767px) {
.navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}

.container {
  width: 100%;
}

.btn {
  color: #fff;
}

a:hover {
  background-color: transparent !important;
}

.inline {
  display: inline-block;
}

.img-responsive {
  margin: auto;
}
.badge {
  background:$green;
  padding:5px 7px;
  @include border_radius(8px);
}

// ------------------

.sidebar {
  position: absolute;
  width: 350px;
  height: 100%;
  margin-left: -350px;
  padding-left: 70px;
}

.sidebar-toggler {
  display: inline-block;
  color: $default_text_main !important;
  background-color: $default_background;
  width: 70px;
  height: 70px;
  text-align: center;
  border-right: 1px solid $default_text_main;
  border-bottom: 1px solid $default_text_off;

  &:hover {
    background-color: $inverse_background !important;
    color: $inverse_text_off;
    cursor: pointer;
  }

  .icon {
    position: absolute;
    display: block;
    width: 100%;
    height: 70px;
    font-size: 35px;
    line-height: 70px;
  }
}

.logout-link {
  position: fixed !important;
  bottom: 0px;
  border-top: 1px solid $default_text_off;
  z-index: 10px;
}

.brand-link {
  position: fixed;
  bottom: 70px;
  height: 160px;
  background-color: $inverse_text_highlight;
  width: 280px;
  border-top: 1px solid $default_text_off;
  z-index: 10;
  text-align: center;

  &.logo {
    padding-top: 25px;
    width: 69px;
    img { height: 110px; }
  }

  &.org {
    padding-top: 30px;
    img { height: 50px; }
    h4, h5 {
      color: $default_text_main;
    }
  }
}

.sidebar-icons {
  position: fixed;
  z-index: 100;
  width: 70px;
  height: 100%;
  background-color: $default_background;
  border-right: 1px solid $default_text_main;
  color: #fff;

  .profile {
    // border-bottom: 1px solid $default_text_main;

    img {
      padding: 10px;
      border-radius: 50px;
      cursor: pointer;
    }
  }

  .navicons {
    // margin-top: -4px;
    margin-top: 66px;
    border-top: 1px solid $default_text_off;

    a {
      display: block;
      height: 70px;
      width: 69px;
      text-align: center;
      border-bottom: 1px solid $default_text_off;
      padding: 10px;
      background: $default_background;
      position: relative;
      z-index: 20;
      font-size: 40px;
      line-height: 50px;

      .notification_counter {
        position: absolute;
        bottom: 8px;
        right: 8px;
        font-size: 14px;
        line-height: 25px;
        width: 25px;
        height: 25px;
        background-color: $nav_hover;
        color: $default_text_off;
        border-radius: 20px;
      }

      span:before {
        display: block;
        font-size: 40px;
        line-height: 50px;
        margin: 0px;
      }

      img {
        width: 40px;
      }
    }
  }
}

.sidenav a, .navicons a {
  color: $inverse_text_off !important;

  &:hover {
    color: #fff;
    background-color: $inverse_background !important;
  }
}

/* .sidebar {
  position: fixed;
  background-color: $default_background;
  color: #eee;

  .user-wrapper {
    width: 280px;
    height: 141px;
    // background-color: $default_background;
    background: url("https://i220.photobucket.com/albums/dd56/coloursinside/bte-a11-41.jpg");
    border-bottom: 1px solid $default_text_off;

    .user {
      padding: 20px 10px;
      background-color: rgba($default_background, 0.25);
      // color: $default_text_main;
      color: $inverse_text_main;
      height: 100%;
      text-align: center;

      img {
        margin-bottom: 5px;
        border-radius: 60px;
        border: 2px solid $inverse_text_main;
        width: 60px;
        height: 60px;
      }

      .name {
        font-size: 16px;
        font-weight: bold;
      }
    }

  }

  .sidenav {
    a {
      display: block;
      height: 70px;
      width: 280px;
      border-bottom: 1px solid $default_text_off;
      padding: 10px 20px;
      font-size: 16px;
      line-height: 50px;
      font-weight: bold;
      position: relative;
      z-index: 20;
      background-color: $default_background;
    }
  }
} */

.body-wrapper, .sidebar {
  flex: 1;
  /* box-shadow: 0 0 5px black; */
  /* transform: translate3d(70px, 0, 0); */
  transition: transform .3s;
}

.body-wrapper {
  /* overflow: hidden; */
  width: 100%;
}

.body-wrapper.isOpen { transform: translate3d(351px, 0, 0); }
.sidebar.isOpen { transform: translate3d(350px, 0, 0); }

// -------------------

.pinned-toggler {
  margin-top: 15px;
}

// .bootstrap-switch{
//   width: 80px;
//   height: 40px;
//   border-radius: 0px;

//   .bootstrap-switch-container {
//     height: 40px;

//     .bootstrap-switch-handle-on,
//     .bootstrap-switch-label,
//     .bootstrap-switch-handle-off {
//       height: 40px;
//       width: 40px;
//       padding: 10px;
//       border-radius: 0px;
//     }

//     .bootstrap-switch-handle-on {
//       color: #ffffff;
//       background-color: #da6d0d;
//     }

//     .bootstrap-switch-handle-off {
//       color: #ffffff;
//       background-color: #006dcc;
//     }
//   }
// }

.content-wrapper {
  /* margin-top: 90px;
  height: calc(100% - 70px);
  overflow-y: scroll; */
}


// button styles

.post, .comment {

  .btn-off {
    background-color: transparent;
    img {
      max-height: 25px;
    }

    &:hover.btn-project {


    }

    &:hover.btn-fun {
      background-color: $main_fun;
      color: $default_background !important;
      border: 1px solid $default_background;
    }

    &:hover.btn-facility {
      background-color: $main_facility;
      color: $default_background !important;
      border: 1px solid $default_background;
    }
  }

  .btn-on {
    /* border: 1px solid $default_background; */
  }

  .signature .btn-off {
    background-color: transparent;

  }

  .controls .btn-off {
    color: $inverse_text_off !important;
    border: 1px solid $inverse_text_off;
  }
}

// .comment {
//   .btn-off {
//     background-color: transparent;
//     color: $inverse_text_off !important;
//     border: 1px solid $inverse_text_off;
//     opacity: 0.6;

//     &:hover {
//       background-color: $inverse_text_off;
//       color: $inverse_text_main !important;
//       border: 1px solid $inverse_text_main;
//       opacity: 0.75;
//     }
//   }

//   .btn-on {
//     background-color: $inverse_text_off;
//     color: $inverse_text_main !important;
//     border: 1px solid $inverse_text_main;
//     opacity: 0.75;
//   }

//   .btn-default {
//     background-color: $inverse_text_off;
//     color: $inverse_text_main !important;
//     border: 1px solid $inverse_text_main;

//     &:hover {
//       opacity: 0.75;
//     }
//   }
// }

.btn-project, .btn-fun, .btn-facility, .btn-approval-true, .btn-approval-false {
  background-color: $white;
  color: $white;
  font-weight: 600;

  img { height:32px; }

  .count { margin-left:-25px;}
  &:hover {
    opacity: 0.75;
  }
  &:focus, &:active {
    box-shadow: none;
  }
}

.btn-project {
  background-color: $main_project;
}

.btn-fun {
  background-color: $main_fun;
}

.btn-facility {
  background-color: $main_facility;
}

// popup forms

#comment_anonymous, #comment_suggestion, #user_manager {
  display: inline-block;
}

.modal-body.row {
  padding-bottom: 0px;
}


.modal-dialog {
  .modal-content {
    .modal-header {
      background-color: $nav_background;
      color: $inverse_text_main;
    }
    .btn.btn-main {
      background-color: $nav_background;
    }
  }
}

#post-discussion .modal-dialog {
  height: 100%;

  .modal-content {
    height: 100%;

    // &.project {
    //   .modal-header {
    //     background-color: $main_project;
    //     color: $inverse_text_main;
    //   }
    //   .btn.btn-main {
    //     background-color: $main_project;
    //   }
    // }

    // &.fun {
    //   .modal-header {
    //     background-color: $main_fun;
    //     color: $inverse_text_main;
    //   }
    //   .btn.btn-main {
    //     background-color: $main_fun;
    //   }
    // }

    // &.facility {
    //   .modal-header {
    //     background-color: $main_facility;
    //     color: $inverse_text_main;
    //   }
    //   .btn.btn-main {
    //     background-color: $main_facility;
    //   }
    // }

    .modal-body {
      padding-bottom: 10px;
    }

    .modal-footer {
      height: calc(100% - 410px);

      .comments {
        height: calc(100% - 50px);
        overflow-y: scroll;
      }
    }
  }
}

#post-discussion {
  .actions { margin-top: 10px; }
  .modal-footer {
    padding: 0px;
    margin-top: 0px;
    border: none;
  }
}

#post-discussion, #carousel-discussion {
  .item { max-height: 150px; }
}

#comment_plain {
  margin-right: 10px;
}

.popover {
  color: $default_text_main;
  font-weight: normal;
  font-size: 14px;
}

body .modal-dialog {
  width: 960px;

  @media (max-width: 960px) {
    width: 600px;
  }
}

// #comment_plain, #comment_content, #comment_suggestion {
//   margin-top: 10px;
// }

form .field {
  margin-top: 10px;
}

.department_form {
  margin-bottom: 10px;

}

.truncate {
  width: 280px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-header .close {
  opacity: 1;
  color: $inverse_text_main;
}
