@import 'presets';

.summary {
  padding: 20px 20px;
  color: $inverse-text-off;

  .no-hover {
    cursor: default;
  }

  .axis path, .axis line {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
  }

  .x.axis path {
    display: none;
  }

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  .axis text {
    font-family: 'Arial';
    font-size: 13px;
  }
  .tick {
    stroke-dasharray: 1, 2;
  }

  .bar {
    fill: #393B79;
  }

  #analytics-carousel .carousel-inner {
    margin-top: 80px;
  }

  #analytics-carousel .carousel-indicators {
    top: -80px;
    width: 100%;
    text-align: center;
    margin: 0px !important;
    left: 0px;
  }
  #analytics-carousel .carousel-indicators > li,
  #analytics-carousel .carousel-indicators > li.active{
    width: auto;
    height: 60px;
    margin: 0px 20px;
    border-radius: 0;
    border: none;
    background: transparent;
    text-align: right;
    text-indent: 0;

    .headline {
      font-size: 24px;
    }
    .subline {
      font-size: 14px;
      margin-left: -10px;
    }
  }
  #analytics-carousel .carousel-indicators > li.active {
    border-bottom: 2px solid $nav_background;
  }

  #analytics-carousel .carousel-inner {
    .summary-box {
      border-radius: 0px;
      border: 1px solid $default_text_main !important;
      height: 460px;

      .header {
        height: 50px;
        width: 100%;
        background-color: $nav_hover;
        color: #ddd;
        padding: 10px 15px;
        font-size: 20px;
        font-weight: bold;
      }
      .body {
        // chart
        .d3_graph {
          position: relative;
          z-index: 10;
          text-align: center;
          padding: 25px 0px;

          .legend {
            font-size: 12px;
          }
          rect {
            stroke-width: 2;
          }
        }

        .graph_cover {
          position: absolute;
          z-index: 100;
          height: 100%;
          width: calc(100% - 31px);
          background-color: rgba(#fff, 0.5);
          text-align: center;
          padding: 150px 40px;
          font-size: 46px;
        }

        // card
        .summary-card {
          height: 175px;
          margin-top: 20px;
          border: 1px solid $default_text_main !important;
          border-radius: 10px;
          text-align: center;

          .main-content {
            width: 100%;
            height: 90px;
            line-height: 90px;
            font-size: 60px;
            font-weight: bold;
            padding-top: 16px;
            img {
              border-radius: 80px;
              vertical-align: top;
              // margin-top: -20px;
              height: 80px;
            }
          }
          .notes {
            height: 60px;
            padding-top: 16px;
            &.post {
              height: 140px;
              margin-top: -80px;
              padding: 16px;
            }
          }
          .footer {
            height: 25px;
            background-color: $nav_hover;
            font-size: 14px;
            line-height: 26px;
            font-weight: bold;
            color: #ddd;
            border-radius: 0px 0px 10px 10px;
          }
        }
      }
    }
  }

  .nav-pills {
    li {
      margin-right: 15px;
      a {
        background-color: $inverse-text-off !important;
        color: $inverse-text-main !important;
        opacity: 0.5;
        &:hover {
          opacity: 1.0;
        }
      }
      &.active a {
        opacity: 1.0;
      }
    }
  }

  .tab-content {
    .tab-pane {
      padding: 20px 20px 20px 0px;
    }

    .graph-wrapper {
      position: relative;

      .org-graph-canvas {
        position: relative;
        margin-top: 20px;
        z-index: 10;
      }
      .graph-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 100;
        background-color: rgba(#fff, 0.5);
        border: 3px solid $main_project;
        border-radius: 10px;
        margin: 0px -10px;

        h1 {
          color: $main_project;
          text-align: center;
          margin-top: 240px;
        }
      }
    }
  }
}

.page-wrapper {
  padding: 20px 40px;

  #newsfeed-carousel {
    .item { height: 490px; }
  }

  .post-board {
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0px -30px;
  }

  #leaderboards {
    .leaderboard {
      // height: 160px;
      // width: 100%;

      .leader-badge {
        height: 100%;
        width: 140px;
        margin-left: 20px;
        padding: 40px 20px 20px 20px;

        .top-user {
          position: absolute;
          width: 60px;
          border-radius: 50px;
          margin: 18px 20px;
        }
      }

      .top-performers {
        height: 100%;
        margin-left: 20px;
        padding-top: 20px;

        .performace {
          img {
            width: 24px;
            height: 24px;
            border-radius: 12px;
          }
        }
      }
    }
  }

  ul li {
    border-radius: 5px;
    background-color: $main-highlight;
    margin: 0px 10px;
    cursor: pointer;
    a { color: $inverse_text_main; }
  }

  .social-feeds {
    padding: 20px 0px;
  }

  iframe {
    width: 99% !important;
  }

  .fb-like-box, .fb-like-box span {
    width: 100% !important;
  }
}
