@import 'presets';

.summary {
  padding: 0 20px 20px 20px;
  color: $inverse-text-off;

  .analytics_data_table_wrapper {
    padding: 20px;

    thead.text-center th {
      text-align: center;
    }

    table {
      /* border: 1px solid #fff; */
      background:$white;
      box-shadow: $shadow-2;
      @include border_radius(10px);
    }
  }

  .no-hover {
    cursor: default;
  }

  .axis path, .axis line {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
  }

  .x.axis path {
    display: none;
  }

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  .axis text {
    font-family: 'Arial';
    font-size: 13px;
  }
  .tick {
    stroke-dasharray: 1, 2;
  }

  .bar {
    fill: #393B79;
  }

  #analytics-carousel .carousel-inner {
    margin-top: 80px;
  }

  #analytics-carousel {

    .carousel-indicators {
      top: 30px;
      width: 100%;
      text-align: center;
      color: $white;
      margin: 0px !important;
      left: 0px;
      /* height: 40px; */
    }
    .alt-indicators {
      width: 100%;
      text-align: center;
      color: $white;
      li {
        display: inline-block;
        list-style: none;
      }
    }
  }
  #analytics-carousel .carousel-indicators > li,
  #analytics-carousel .carousel-indicators > li.active{
    width: auto;
    height: 50px;
    margin: 0px 20px;
    border-radius: 0;
    border: none;
    background: transparent;
    text-align: right;
    text-indent: 0;

    .headline {
      font-size: 18px;
      font-weight: 600;
    }
    .subline {
      font-size: 12px;
      margin-left: -10px;
    }
  }
  #analytics-carousel .carousel-indicators > li.active {
    border-bottom: 3px solid $white;
  }

  #analytics-carousel .carousel-inner {
    .summary-box {
      @include border_radius(10px);
      box-shadow: $shadow-2;
      /* border: 1px solid $default_text_main !important; */
      height: 460px;
      background-color: $white;
      margin-bottom: 2rem;

      .header {
        height: 50px;
        width: 100%;
        /* background-color: $white; */
        color: $m-grey;
        padding: 15px;
        font-size: 20px;
        text-shadow: $t-shadow;
        font-weight: 600;
      }
      .body {
        // chart
        .d3_graph {
          position: relative;
          z-index: 10;
          text-align: center;
          padding: 25px 0px;

          .legend {
            font-size: 12px;
          }
          rect {
            stroke-width: 2;
          }
        }

        .graph_cover {
          position: absolute;
          z-index: 100;
          height: 85%;
          width: calc(100% - 31px);
          background-color: rgba(#fff, 0.5);
          text-align: center;
          padding: 140px 40px;
          font-size: 46px;
        }

        // card
        .summary-card {
          height: 175px;
          margin-top: 20px;
          border: 1px solid $default_text_main !important;
          border-radius: 10px;
          text-align: center;

          .main-content {
            width: 100%;
            height: 90px;
            line-height: 90px;
            font-size: 60px;
            font-weight: bold;
            padding-top: 16px;
            img {
              border-radius: 80px;
              vertical-align: top;
              // margin-top: -20px;
              height: 80px;
            }
          }
          .notes {
            height: 60px;
            padding-top: 16px;
            &.post {
              height: 140px;
              margin-top: -80px;
              padding: 16px;
            }
          }
          .footer {
            height: 25px;
            background-color: $nav_hover;
            font-size: 14px;
            line-height: 26px;
            font-weight: bold;
            color: #ddd;
            border-radius: 0px 0px 10px 10px;
          }
        }
      }
    }
  }

  .nav-pills {
    li {
      margin-right: 15px;
      a {
        background-color: $inverse-text-off !important;
        color: $inverse-text-main !important;
        opacity: 0.5;
        &:hover {
          opacity: 1.0;
        }
      }
      &.active a {
        opacity: 1.0;
      }
    }
  }

  .tab-content {
    .tab-pane {
      padding: 20px 20px 20px 0px;
    }

    .graph-wrapper {
      position: relative;

      .org-graph-canvas {
        position: relative;
        margin-top: 20px;
        z-index: 10;
      }
      .graph-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 100;
        background-color: rgba(#fff, 0.5);
        border: 3px solid $main_project;
        border-radius: 10px;
        margin: 0px -10px;

        h1 {
          color: $main_project;
          text-align: center;
          margin-top: 240px;
        }
      }
    }
  }
}

.page-wrapper {
  padding: 20px 40px;

  #newsfeed-carousel {
    .item { height: 490px; }
  }

  .post-board {
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0px -30px;
  }

  #leaderboards {
    .leaderboard {
      // height: 160px;
      // width: 100%;

      .leader-badge {
        height: 100%;
        width: 140px;
        margin-left: 20px;
        padding: 40px 20px 20px 20px;

        .top-user {
          position: absolute;
          width: 60px;
          border-radius: 50px;
          margin: 18px 20px;
        }
      }

      .top-performers {
        height: 100%;
        margin-left: 20px;
        padding-top: 20px;

        .performace {
          img {
            width: 24px;
            height: 24px;
            border-radius: 12px;
          }
        }
      }
    }
  }

  ul li {
    border-radius: 5px;
    background-color: $main-highlight;
    margin: 0px 10px;
    cursor: pointer;
    a { color: $inverse_text_main; }
  }

  .social-feeds {
    padding: 20px 0px;
  }

  iframe {
    width: 99% !important;
  }

  .fb-like-box, .fb-like-box span {
    width: 100% !important;
  }
}

.digg_pagination {
  background: $body_background;
  cursor: default;
  text-align: center;
  /* self-clearing method: */ }
.digg_pagination a, .digg_pagination span, .digg_pagination em {
  padding: 0.2em 0.5em;
  display: inline-block;
  // float: left;
  // max-width: 20px;
  margin-right: 1px; }
.digg_pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd; }
.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1; }
.digg_pagination a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5; }
  .digg_pagination a:hover, .digg_pagination a:focus {
    color: #000033;
    border-color: #000033; }
.digg_pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center; }
  .digg_pagination .page_info b {
    color: #000033;
    background: #6aa6ed;
    padding: 0.1em 0.25em; }
.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
* html .digg_pagination {
  height: 1%; }
*:first-child + html .digg_pagination {
  overflow: hidden; }
