@import 'presets';

.summary {
  padding: 0 20px 20px 20px;
  color: $inverse-text-off;

  .analytics_data_table_wrapper {
    padding: 20px;
    /* background: $white; */
    /* box-shadow: $shadow-2; */
    /* @include border_radius(10px); */

    thead.text-center th {
      text-align: center;
    }

    table {
      /* border: 1px solid #fff; */
      background:$white;
      box-shadow: $shadow-2;
      @include border_radius_exl(10px);
    }
  }
  .table {
    &>thead>tr>th {
    border-bottom:1px dashed rgba(0,0,0,0.04);
    }
    &>tbody>tr {
      td {
        border: none;
      }
      &:last-child {
        td {
          &:first-child {
            -webkit-border-radius:0 0 0 10px !important;
            -moz-border-radius:0 0 0 10px !important;
            -ms-border-radius:0 0 0 10px !important;
            -o-border-radius:0 0 0 10px !important;
            border-radius:0 0 0 10px !important;
          }
          &:last-child {
            -webkit-border-radius:0 0 10px 0 !important;
            -moz-border-radius:0 0 10px 0 !important;
            -ms-border-radius:0 0 10px 0 !important;
            -o-border-radius:0 0 10px 0 !important;
            border-radius:0 0 10px 0 !important;
          }
        }
      }
    }
  }
  .table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background:$demon;
  }
  .dataTables_info {
    color:$white;
  }

  .dataTables_filter, .dataTables_length {
    label {
      color:$white;
    }
    input {
      @include border_radius_exl(7px);
      background-color:rgba(255,255,255,0.4);
      background:rgba(255,255,255,0.4) image-url("search-icon.png") 1rem center no-repeat;
      background-size:13px;
      color:$white !important;
      box-shadow: none;
      border:1px solid $trans;
      height:36px;
      text-indent: 1.5rem;
      font-size: 16px;
      font-weight: 500;

      @include transition(0.5s);

      &:focus {
        border:1px solid $ghost;
        outline: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
        @include placeholder-active;
      }

      @include placeholder;
    }
  }

  .no-hover {
    cursor: default;
  }

  .axis path, .axis line {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
  }

  .x.axis path {
    display: none;
  }

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  .axis text {
    font-family: 'Arial';
    font-size: 13px;
  }
  .tick {
    stroke-dasharray: 1, 2;
  }

  .bar {
    fill: #393B79;
  }

  #analytics-carousel .carousel-inner {
    /* margin-top: 80px; */

  }

  #analytics-carousel {

    .carousel-indicators {
      width: 100%;
      text-align: center;
      color: $white;
      margin: 0px !important;
      left: 0px;
      bottom:-1px;
      padding-bottom:0;
      /* height: 40px; */
    }
    .alt-indicators {
      width: 100%;
      text-align: center;
      color: $white;
      li {
        display: inline-block;
        list-style: none;
      }
    }
  }
  #analytics-carousel .carousel-indicators > li,
  #analytics-carousel .carousel-indicators > li.active{
    width: auto;
    height: 35px;
    padding: 5px 20px;
    border: none;

    @include border_radius_top(10px);
    text-align: right;
    text-indent: 0;

    .headline {
      font-size: 16px;
      /* font-weight: 600; */
    }
    .subline {
      font-size: 12px;
      margin-left: -10px;
    }
  }
  #analytics-carousel .carousel-indicators > li.active {
    /* border-bottom: 3px solid $white; */
    color: $grey;
    background: $white;
  }

  #analytics-carousel .carousel-inner {
    .item {
      .row.first-q {
        background: $white;
        @include border_radius_exl(10px);
        width: auto;
        height: auto;
        margin:auto 0px;
      }
    }
    .summary-box {
      @include border_radius(10px);
      /* box-shadow: $shadow-2; */
      /* border: 1px solid $default_text_main !important; */
      /* height: 460px; */
      background-color: $white;
      margin-bottom: 2rem;

      .header {
        height: 50px;
        width: 100%;
        /* background-color: $white; */
        color: $m-grey;
        padding: 15px;
        font-size: 20px;
        text-shadow: $t-shadow;
        font-weight: 600;
      }
      .body {
        // chart
        .d3_graph {
          position: relative;
          z-index: 10;
          text-align: center;
          padding: 25px 0px;

          .legend {
            font-size: 12px;
          }
          rect {
            stroke-width: 2;
          }
        }

        .graph_cover {
          position: absolute;
          z-index: 100;
          height: 85%;
          width: calc(100% - 31px);
          background-color: rgba(#fff, 0.5);
          text-align: center;
          padding: 140px 40px;
          font-size: 46px;
        }

        // card
        .summary-card {
          height: 190px;
          /* margin-top: 20px; */
          /* border: 2px solid $grey; */
          /* border-radius: 10px; */
          text-align: center;
          padding:5px;

          .main-content {
            width: 100%;
            /* height: 90px; */
            /* line-height: 90px; */
            font-size: 48px;
            font-weight: 600;
            padding-top: 16px;
            word-spacing: -13px;
            color: $green;

          }
          .notes {
            /* height: 60px; */
            padding-top: 16px;
            color:$grey;
            &.post {
              /* height: 140px; */
              /* margin-top: -80px; */
              padding: 16px;
            }
          }
          .footer {
            /* height: 25px; */
            /* background-color: $l-grey; */
            font-size: 14px;
            /* line-height: 26px; */
            font-weight: 600;
            /* color: #ddd; */
            margin-top:10px;
            color:$grey;
            border-radius: 0px 0px 10px 10px;
            img {
              @include border_radius(50%);
              /* vertical-align: top; */
              // margin-top: -20px;
              height: 30px;
              margin-right: 3px;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width:550px) {
    #analytics-carousel .carousel-indicators > li,
    #analytics-carousel .carousel-indicators > li.active{

      padding: 5px 10px;
      .headline {
        font-size: 14px;
      }
    }
  }
  .nav-pills {
    li {
      margin-right: 15px;
      a {
        background-color: $inverse-text-off !important;
        color: $inverse-text-main !important;
        opacity: 0.5;
        &:hover {
          opacity: 1.0;
        }
      }
      &.active a {
        opacity: 1.0;
      }
    }
  }

  .tab-content {
    .tab-pane {
      padding: 20px 20px 20px 0px;
    }

    .graph-wrapper {
      position: relative;

      .org-graph-canvas {
        position: relative;
        margin-top: 20px;
        z-index: 10;
      }
      .graph-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 100;
        background-color: rgba(#fff, 0.5);
        border: 3px solid $main_project;
        border-radius: 10px;
        margin: 0px -10px;

        h1 {
          color: $main_project;
          text-align: center;
          margin-top: 240px;
        }
      }
    }
  }
}

.page-wrapper {
  padding: 20px 40px;

  #newsfeed-carousel {
    .item { height: 490px; }
  }

  .post-board {
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0px -30px;
  }

  #leaderboards {
    .leaderboard {
      // height: 160px;
      // width: 100%;

      .leader-badge {
        height: 100%;
        width: 140px;
        margin-left: 20px;
        padding: 40px 20px 20px 20px;

        .top-user {
          position: absolute;
          width: 60px;
          border-radius: 50px;
          margin: 18px 20px;
        }
      }

      .top-performers {
        height: 100%;
        margin-left: 20px;
        padding-top: 20px;

        .performace {
          img {
            width: 24px;
            height: 24px;
            border-radius: 12px;
          }
        }
      }
    }
  }

  ul li {
    border-radius: 5px;
    background-color: $main-highlight;
    margin: 0px 10px;
    cursor: pointer;
    a { color: $inverse_text_main; }
  }

  .social-feeds {
    padding: 20px 0px;
  }

  iframe {
    width: 99% !important;
  }

  .fb-like-box, .fb-like-box span {
    width: 100% !important;
  }
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  background:$green;
  border-color:$green;
  color:$white $imp;
}

.digg_pagination {
  background: $trans;
  cursor: default;
  text-align: center;
  display: inline-block;
  a, span, em {
    float:left;
    text-decoration: none;
    padding:6px 12px;
    background:$white;
    color:$grey $imp;
    @include border_radius(0);
    border-right: 1px solid $l-grey;
    line-height:1.428571429;
  }
  .previous_page {
    border-bottom-left-radius:4px;
    border-top-left-radius:4px;
  }
  .next_page {
    border-bottom-right-radius:4px;
    border-top-right-radius:4px;
    border-right:none;
  }
  .current {
    background:$green;
    color:$white $imp;
    font-style:normal;
  }
  .disabled {
    color:$li-grey $imp;
  }
}
  .digg_pagination a:hover, .digg_pagination a:focus {
    color: $white !important;
    background: $green $imp;
    /* border:1px solid $white; */
    @include transition(0.5s);
  }
.digg_pagination span {
  color: $grey;
}
.digg_pagination .page_info {
  background: $grey;
  color: white;
  /* padding: 0.4em 0.6em; */
  /* width: 22em; */
  /* margin-bottom: 0.3em; */
  text-align: center;
 }
  .digg_pagination .page_info b {
    color: $grey;
    background: $grey;
    padding: 0.1em 0.25em;
   }
.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
 }
* html .digg_pagination {
  height: 1%;
 }
*:first-child + html .digg_pagination {
  overflow: hidden;
 }
