@import url(http://fonts.googleapis.com/css?family=Lato);

$main_fun: #FF7647;
$main_facility: #FFAE47;
$main_project: #439AD2;
$main_highlight: #3CD98E;

$default_background: #FFFFFF;
$default_text_main: #7C8B9B;
$default_text_off: #C1C8D0;

$inverse_background: #C1C8D0;
$inverse_text_main: #FFFFFF;
$inverse_text_off: #707A85;
$inverse_text_highlight: #E1E7ED;
