@import 'presets';

.post-filters {
  height: 50px;
  width: 100%;
  background-color: #eee;
  text-align: center;

  .btn {
    margin-top: 10px;
    margin-right: 10px;
  }
}

.btn {
  border-radius: 0px;
}

.btn-custom {
  background-color: #f17910;

  &:hover {
    background-color: #da6d0d;
  }
}

.post-board {
  padding: 0px 20px;
}

.post-wrapper {
  height: 250px;
  margin-top: 40px;
  padding: 0px 20px;

  .post {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #dddddd;

    .header, .signature {
      position: absolute;
      width: 100%;
    }

    .header {
      height: 50px;
      top: 0;
      padding: 16px;
      color: #fff;
      font-weight: bold;
      font-size: 18px;
      line-height: 20px;

      .traction {
        position: relative;
        float: right;

        .tags {
          float: right;
          margin-top: -5px;
          padding-left: 15px;
          .btn-sm {
            margin-left: 5px;
            width: 32px;
          }
        }
      }
    }

    .content {
      color: #555;
      padding-top: 70px;
      font-size: 14px;
      line-height: 22px;
    }

    .signature {
      height: 50px;
      bottom: 0;

      .user {
        padding: 11px 15px;

        img {
          margin-top: -15px;
          border: 1px solid #ddd;
        }
        .name {
          display: inline-block;
          padding: 0px 5px;
          line-height: 14px;
          color: #555;
        }
      }

      .options {
        float: right;
        margin-top: -43px;
        padding-right: 15px;
        .btn-sm {
          margin-left: 5px;
          width: 32px;
        }
      }
    }
  }

  .work {
    background-color: rgba($main-blue, 0.25);
    .header {
      background-color: rgba($main-blue, 0.75);
    }
    .signature {
      background-color: rgba($main-blue, 0.25);
    }
  }

  .play {
    background-color: rgba($main-green, 0.25);
    .header {
      background-color: rgba($main-green, 0.75);
    }
    .signature {
      background-color: rgba($main-green, 0.25);
    }
  }
}
