$main_play: #36A149;
$main_facility: #D38647;
$main_work: #2B7F7F;
$main_highlight: #D34747;

$default_background: #FFFFFF;
$default_text_main: #7C8B9B;
$default_text_off: #C1C8D0;

$inverse_background: #C1C8D0;
$inverse_text_main: #FFFFFF;
$inverse_text_off: #707A85;
$inverse_text_highlight: #E1E7ED;
