// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-card {
  border: 1px dashed #555;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
}
