// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-card {
  border: 1px dashed #555;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
}

.tag-index {
  width: 100%;
  height: 30px;
  background-color: #eee;
}

#posts {
  height: calc(100% - 80px);
  background-color: #ddd;
  // padding-top: 54px;

  .posts-header {
    // position: absolute;
    // margin-top: -54px;
    padding: 10px 15px;
    background-color: #ccc;

    #query {
      width: 180px;
    }
  }
}

#post {
  height: calc(100% - 80px);
  background-color: #fff;
}
