// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-card {
  border: 1px dashed #555;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
}

.tag-index {
  width: 100%;
  height: 30px;
  background-color: #eee;
}

#posts {
  height: calc(100% - 80px);
  background-color: #eee;
  overflow-y: scroll;
  // padding-top: 54px;

  .posts-header {
    // position: absolute;
    // margin-top: -54px;
    padding: 10px 15px;
    background-color: #ccc;

    #query {
      width: 165px;
    }
  }
}

#post {
  height: calc(100% - 80px);
  background-color: #fff;
  padding: 0px 25px;
  overflow-y: scroll;

  #post-divider {
    color: #fff;
    margin: 20px -25px 0px -25px;
    padding: 5px 25px;
    height: 25px;
    background-color: #5b6e84;
  }

  #new-comment {
    color: #fff;
    margin: 0px -25px;
    padding: 10px 25px 20px 25px;
    background-color: #90a2b4;
  }

  #comment-filter {
    color: #fff;
    margin: 0px -25px;
    padding: 10px 25px 20px 25px;
    background-color: #8196a9;

    #filter {
      float: right;
    }
  }

  .comment-card {
    margin: 0px -25px;
    padding: 10px 25px 20px 25px;
    border-top: 3px solid #90a2b4;
  }
}

.tag-pill, .label-pill,, .filter-pill {
  display: inline-block;
  font-size: 10px;
  padding: 3px 5px;
  border: 1px solid #555;
  border-radius: 5px;
}

.filter-pill {
  border: 1px solid #fff;
}
