/ .alert.alert-info{class: ("hidden" if flash[:notice].blank?)}
/   / = raise
/   %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
/     %span{"aria-hidden" => "true"} ×
/   = flash[:notice]
